.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.App > * > * {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@media (min-aspect-ratio: 1/1) {
  .App {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  .App > * {
    max-height: 100vh;
    max-width: 45vw;
  }

  .controls {
    max-width: 200px;
  }
}

.image-dropzone {
  cursor: pointer;
}

.image-dropzone--highlight {
  opacity: 0.9;
}

.output > canvas {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size: 25px 25px; /* Must be a square */
  background-position: 0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
}

.controls {
  justify-content: center;
  padding: 1em;
}

button {
  border-radius: 3px;
  color: rgb(35, 93, 255);
  border: 2px solid rgb(35, 93, 255);
  background-color: #fff;
  padding: 1em 2em;
  transition: all 200ms ease;
  cursor: pointer;
}

button[disabled] {
  color: #ccc;
  border-color: #ccc;
  cursor: default;
}

a {
  color: rgb(35, 93, 255);
  text-decoration: none;
  transition: all 200ms ease;
}

a:hover {
  opacity: 0.75;
}

h1 {
  text-align: center;
}
